@font-face {
    font-family: "Lexend Deca";
    src: url("../../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Big Shoulders";
    src: url("../../fonts/Big_Shoulders/static/BigShoulders-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}